<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-inter-heading" jhiTranslate="fiberApp.inter.home.createOrEditLabel">Create or edit a Inter</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fiberApp.inter.nd" for="field_nd">Nd</label>
                    <input type="text" class="form-control" name="nd" id="field_nd"
                           formControlName="nd"/>
                    <div *ngIf="editForm.get('nd').invalid && (editForm.get('nd').dirty || editForm.get('nd').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nd').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nd').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 10 }">
                        This field is required to be at least 10 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nd').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fiberApp.inter.typeInter" for="field_typeInter">Type Inter</label>
                    <select class="form-control" name="typeInter" formControlName="typeInter" id="field_typeInter">
                        <option value="BAAP">{{'fiberApp.TypeInterEnum.BAAP' | translate}}</option>
                        <option value="BAOC">{{'fiberApp.TypeInterEnum.BAOC' | translate}}</option>
                        <option value="BAFA">{{'fiberApp.TypeInterEnum.BAFA' | translate}}</option>
                        <option value="BAST">{{'fiberApp.TypeInterEnum.BAST' | translate}}</option>
                        <option value="PLP">{{'fiberApp.TypeInterEnum.PLP' | translate}}</option>
                        <option value="SAV">{{'fiberApp.TypeInterEnum.SAV' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('typeInter').invalid && (editForm.get('typeInter').dirty || editForm.get('typeInter').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('typeInter').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fiberApp.inter.contract" for="field_contract">Contract</label>
                    <select class="form-control" name="contract" formControlName="contract" id="field_contract">
                        <option value="LM">{{'fiberApp.ContractEnum.LM' | translate}}</option>
                        <option value="IQ">{{'fiberApp.ContractEnum.IQ' | translate}}</option>
                        <option value="CABLE_ROUTING">{{'fiberApp.ContractEnum.CABLE_ROUTING' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('contract').invalid && (editForm.get('contract').dirty || editForm.get('contract').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contract').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fiberApp.inter.lastNameClient" for="field_lastNameClient">Last Name Client</label>
                    <input type="text" class="form-control" name="lastNameClient" id="field_lastNameClient"
                           formControlName="lastNameClient"/>
                    <div *ngIf="editForm.get('lastNameClient').invalid && (editForm.get('lastNameClient').dirty || editForm.get('lastNameClient').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastNameClient').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastNameClient').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastNameClient').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fiberApp.inter.firstNameClient" for="field_firstNameClient">First Name Client</label>
                    <input type="text" class="form-control" name="firstNameClient" id="field_firstNameClient"
                           formControlName="firstNameClient"/>
                    <div *ngIf="editForm.get('firstNameClient').invalid && (editForm.get('firstNameClient').dirty || editForm.get('firstNameClient').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstNameClient').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fiberApp.inter.dateTimeInter" for="field_dateTimeInter">Date Time Inter</label>
                    <div class="d-flex">
                        <input id="field_dateTimeInter" type="datetime-local" class="form-control" name="dateTimeInter" formControlName="dateTimeInter" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateTimeInter').invalid && (editForm.get('dateTimeInter').dirty || editForm.get('dateTimeInter').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateTimeInter').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateTimeInter').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fiberApp.inter.complex" for="field_complex">Complex</label>
                    <input type="checkbox" class="form-control" name="complex" id="field_complex"
                           formControlName="complex"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fiberApp.inter.planning" for="field_planning">Planning</label>
                    <select class="form-control" id="field_planning" name="planning" formControlName="planning">
                        <option *ngIf="!editForm.get('planning').value" [ngValue]="null" selected></option>
                        <option [ngValue]="planningOption.id === editForm.get('planning').value?.id ? editForm.get('planning').value : planningOption" *ngFor="let planningOption of plannings; trackBy: trackPlanningById">{{planningOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('planning').invalid && (editForm.get('planning').dirty || editForm.get('planning').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('planning').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
