<div>
    <h2 id="page-heading">
        <span jhiTranslate="fiberApp.planning.home.title">Plannings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-planning" [routerLink]="['/planning/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="fiberApp.planning.home.createLabel">
            Create new Planning
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="plannings?.length === 0">
        <span jhiTranslate="fiberApp.planning.home.notFound">No plannings found</span>
    </div>
    <div class="table-responsive" *ngIf="plannings?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="initialTech"><span jhiTranslate="fiberApp.planning.initialTech">Initial Tech</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="open"><span jhiTranslate="fiberApp.planning.open">Open</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateTimeCreation"><span jhiTranslate="fiberApp.planning.dateTimeCreation">Date Time Creation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastNameTech"><span jhiTranslate="fiberApp.planning.lastNameTech">Last Name Tech</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="firstNameTech"><span jhiTranslate="fiberApp.planning.firstNameTech">First Name Tech</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span jhiTranslate="fiberApp.planning.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let planning of plannings ;trackBy: trackId">
                <td><a [routerLink]="['/planning', planning.id, 'view' ]">{{planning.id}}</a></td>
                <td>{{planning.initialTech}}</td>
                <td>{{planning.open}}</td>
                <td>{{planning.dateTimeCreation | date:'medium'}}</td>
                <td>{{planning.lastNameTech}}</td>
                <td>{{planning.firstNameTech}}</td>
                <td>
                    {{planning.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/planning', planning.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/planning', planning.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'planning', { outlets: { popup: planning.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="plannings?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
