<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                      [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

        <p jhiTranslate="home.question">
            If you have any question on Fiber Hipster:
        </p>

        <ul>
            <li><a href="https://twitter.com/CherOliv" target="_blank" rel="noopener" jhiTranslate="home.link.follow">holla @ me on Twitter</a></li>
            <li><a href="https://github.com/cheroliv/fiber-jhi/issues?state=open" target="_blank" rel="noopener" jhiTranslate="home.link.bugtracker">Fiber Hipster bug tracker</a></li>
        </ul>

        <p>
            <span jhiTranslate="home.like">If you like Fiber Hipster, don't forget to give us a star on</span> <a href="https://github.com/cheroliv/fiber-jhi" target="_blank" rel="noopener" jhiTranslate="home.github">GitHub</a>!
        </p>
    </div>
</div>
